---
---

@import 'bootstrap/bootstrap';

body {
  background-color: #FAF0E6;
}
// Navigation
ul.nav {
  background-color: #FCE9E2;
  margin-top: 1em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  li {
    padding-left: 2em;
    a { font-size: larger; }
  }
}

// Headings
h1, h2, h3 {
  text-align: center;
  color: #008080;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}
h3 {
  text-align: left;
}
.article-subheading {
  padding-top: 1.2em;
  padding-bottom: 1.0em;
  padding-left: 1em;
  border-left: 3px solid #008080;
  border-top: 2px solid #008080;
  background-color: #F5F5DC;
  display: block;
  clear: left;
  margin-top: 1em;
}

// Article body
section.article {
  margin-bottom: 2em;
}
.container.article {
  p.large {
    font-size: 1.2em;
  }
  .row {
    margin-bottom: 2em;
  }
}
.container.article.large-text {
  p {
    font-size: 1.2em;
  }
  p.img-title {
    font-size: 1em;
  }
  span {
    font-family: serif;
    color: RoyalBlue;
    font-size: 1.1em;
  }
}

.container p .very-bold {
  font-weight: 700;
}
.article p .very-bold {
  font-weight: 600;
}

.lead {
  margin-top: 1em;
  margin-bottom: 2em;
}
.scripture {
  margin-left: 2em;
  margin-right: 2em;
  font-size: large;
  font-family: serif;
  color: MediumBlue;
}

.discussion-heading {
  margin-bottom: 0;
  color: #CD853F;
  font-weight: bold;
}

.discussion-points {
  padding-bottom: 0;
  color: #CD853F;
}

img.growth {
  display: block;
  float: left;
  margin-right: 1em;
  margin-bottom: 1.4em;
}

img.object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.sml {
  width: 50%;
  text-align: center;
}

.img-title {
  color: RoyalBlue;
  font-style: italic;
}

// Forms
html,
body{
 height: 100%;
}

#cover {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #20B2AA;
  background-size: cover;
  color: white;
  height: 100%;
  display: flex;
  label: {
    width: 100px;
  }
}
#cover-caption {
  width: 100%;
}

// Teachings
.teachings {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
}
.teaching {
  margin: 2em;
  padding: 1em;
  background-color: #6B8E23;
  border-radius: 15px;
  border-width: 2px;
  border-color: #ddd;
  width: 240px;
  height: 120px;

  a {
    text-decoration: none;
  }
  p {
    color: white;
  }

  .heading {
    color: #DDD;
    text-align: center;
  }
}

// Resources
.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
}

.card {
  margin-right: 2em;
  margin-bottom: 2em;
  background-color: #AFEEEE;
  border-radius: 15px;
  border-width: 2px;
  border-color: teal;
  .card-title {
    color: teal;
  }
  .card-text {
    background-color: #F5FCF5;
    padding: 0.6em;
  }
}

// Footer
footer {
  clear: both;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 5em;
  font-size: 0.8em;
  text-align: center;
}
