---
---

@import 'bootstrap/bootstrap';

html {
  height: auto;
  background: rgb(251,249,208);
  background-size: cover;
}
body {
  background: rgb(251,249,208);
  // background-image: linear-gradient(180deg, rgba(251,249,208,1) 4%, rgba(249,236,175,1) 50%, rgba(244,204,137,1) 98%);
  // background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: "18px";
}
// Navigation
ul.nav {
  // background-color: #FCE9E2;
  background-color: #faecac;
  border-radius: 2em;
  box-shadow: 3px 6px #ffeebd;
  opacity: 90%;
  margin-top: 1em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  li {
    padding-left: 0.2em;
    padding-right: 1em;
    a {
      font-size: larger;
    }
  }
}

// Headings
h1, h2, h3 {
  color: #008080;
  margin: 0.8em auto 0.6em auto;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.0rem;
  font-weight: 600;
}
h3 {
  text-align: left;
  margin-top: 0;
  font-size: 1.6rem;
}
h4 {
  color: #008080;
  text-align: left;
  margin-top: 0;
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  max-width: 720px;
}
p.center {
  margin-left: auto;
  margin-right: auto;
}
.article-subheading {
  padding-top: 1.2em;
  padding-bottom: 1.0em;
  padding-left: 1em;
  border-left: 3px solid #008080;
  border-top: 2px solid #008080;
  background-color: #F5F5DC;
  display: block;
  clear: left;
  margin-top: 1em;
}

// Article body
section.article {
  margin-bottom: 2em;
  padding-left: 5px;
  padding-right: 5px;
}
hr.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid green;
  height: 2px;
  margin: 2px auto 8px auto;
  width: 90%;
}

.container.article {
  p.large {
    font-size: 1.2rem;
  }
  .row {
    margin-bottom: 2em;
  }
}
.container.article.large-text {
  p {
    font-size: 1.2rem;
  }
  p.img-title {
    font-size: 1rem;
  }
  span {
    font-family: serif;
    color: RoyalBlue;
    font-size: 1.1em;
  }
}

section#invite {
  margin-left: 12%;
  margin-right: 12%;
}

.container p .very-bold {
  font-weight: 700;
}
.article p .very-bold {
  font-weight: 600;
}

.lead {
  margin-top: 1em;
  margin-bottom: 2em;
  min-width: 550px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  width: 95%;
}
.scripture {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.2rem;
  font-family: serif;
  color: MediumBlue;
}
.scripture.large {
  font-size: 1.2rem;
}

.discussion-heading {
  font-size: 1.1rem;
  margin-bottom: 0;
  color: #CD853F;
  font-weight: 700;
}

.discussion-points {
  padding-bottom: 0;
  color: #CD853F;
  li {
    font-size: 1.1rem;
  }
}

.response-actions li {
  font-size: 1.1rem;
}

.spiritual-laws li {
  font-size: 1.1rem;
}

.habit-list li {
  font-size: 1.1rem;
}

.read-action {
  background-color: #6495ED;
  font-size: 1.1rem;
  padding: 5px 18px;
}

.read-action:hover {
  background-color: #0000CD;
}

img.growth {
  display: block;
  float: left;
  margin-right: 1em;
  margin-bottom: 1.4em;
}

img.object {
  display: block;
  margin: 10px auto;
  width: 100%;

}

img.sml {
  width: 50%;
  text-align: center;
}

.img-title {
  color: RoyalBlue;
  font-style: italic;
}

.list-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Reflection
section.reflection {
  background-color: #F0FFF0; // honeydew
  padding: 10px 20px;
  font-size: 1.1rem;
  width: 90%;
  margin: 12px auto;
  .title {
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
  }
  ol > li {
    margin-bottom: 5px;
  }
}

// Forms
html,
body{
 height: 100%;
}

#cover {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #20B2AA;
  background-size: cover;
  color: white;
  height: 100%;
  display: flex;
  label: {
    width: 100px;
  }
}
#cover-caption {
  width: 100%;
}

// Teachings
.teachings {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;

  a {
    text-decoration: none;
  }

  p {
    color: white;
  }
}

.teaching {
  margin: 1em;
  padding: 1em;
  background-color: #6B8E23;
  border-radius: 15px;
  border-width: 2px;
  border-color: #ddd;
  width: 240px;
  height: 140px;
  transition: transform .2s;

  .heading {
    color: #DDD;
    text-align: center;
  }
}
.teaching:hover {
  transform: scale(1.2);
}

// Resources
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
}

.card {
  margin-right: 2em;
  margin-bottom: 2em;
  background-color: #AFEEEE;
  border-radius: 15px;
  border-width: 2px;
  border-color: teal;
  .card-title {
    color: teal;
  }
  .card-text {
    background-color: #F5FCF5;
    padding: 0.6em;
  }
}

// Footer
footer {
  clear: both;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 5em;
  font-size: 0.8rem;
  text-align: center;
}
