<div class="article">
  <div class="row">
    <h2>How did God speak in history?</h2>
  </div>
  <div class="row">
    <p class="lead">
      Long ago, at many times and in many ways, God spoke to our
      fathers by the prophets, but in these last days he has spoken to us
      by his Son, whom he appointed the heir of all things, through whom
      also he created the world. He is the radiance of the glory of God and
      the exact imprint of his nature, and he upholds the universe by the
      word of his power (Hebrews 1:1-3).
    </p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <p>In the Old Testament times, God spoke directly to Adam
        and Eve, Noah, and Abram. God spoke to kings, priests,
        and prophets like Moses, Joshua, Gideon, Nathan, David,
        Solomon, Isaiah, and Samuel. During the birth and ministry
        of Jesus Christ, God also spoke to many people directly.
        The history of Israel also narrates various remarkable events
        through which God revealed Himself.
      </p>
    </div>
    <div class="col-lg-6 col-md-6">
      <p>On every occasion,
        people learned more about God and His ways. Israel treasured
        these events in their hearts, and as time went on, fathers and
        mothers shared with their children what they knew about God. I
        can imagine that when the Jews met in their synagogues, they
        discussed and contemplated the foundation of their religion.
        Wise men among them tried to make sense of the progressive unfolding
        of truth.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="assets/img/moses-on-mt-sinai.jpg" class="object"
         alt="Moses on Mt Sinai" style="width: 75%;"/>
    <hr class="divider"/>
    <div class="col-lg-6 col-md-6">
      <h4>(a) God spoke to Noah by saving his family in the ark</h4>
      <p>
        The survival of Noah and his family through the ark was a
        prototype of the salvation of humankind. "And there is salvation
        in no one else, for there is no other name under heaven given
        among men by which we must be saved” (Acts 4:12).
      </p>
      <h4>(b) God spoke to Israel through the Law</h4>
      <p>
        God met with Moses on Mount Sinai to present him with the
        details of His covenant with Israel. Exodus 20-23 details God’s
        covenant with Moses. The Law reflects His holiness and moral
        character. It defines God’s expectations of Israel, and it also
        comes with a reward:
      </p>
      <p class="scripture">Now therefore, if you will indeed obey my voice and
        keep my covenant, you shall be my treasured possession among all peoples,
        for all the earth is mine; and you shall be to me a kingdom of priests
        and a holy nation. (Exodus 19:5-6)
      </p>
      <p>
        The covenant with Moses was then sealed with burnt offerings and peace
        offerings of oxen to the Lord. (Exodus 24)
      </p>
      <h4>(c) God proclaimed His Name to Moses</h4>
      <p>
        Moses wanted to know God more intimately, which we see
        in his remarkable request. God answered Moses and we read
        in Exodus 33 how God revealed His person and character in a
        most memorable way:
      <p class="scripture">
        Moses said, “Please show me your glory.” And he said, “I will make
        all my goodness pass before you and will proclaim before you my
        name ‘The LORD.’ And I will be gracious to whom I will be gracious,
        and will show mercy on whom I will show mercy. (Exodus 33:18-19)
      </p>
    </div>
    <div class="col-lg-6 col-md-6">
      <p>
        Note that ‘Lord’ is an English title for the Hebrew name, יְהוָֹה
        written as yhwh, and may be pronounced Jahweh.
        Moses would not be able to see God’s face and live, but
        this event would be remembered forever.
      </p>
      <p class="scripture">
        And the LORD said, “Behold, there is a place by me where you shall
        stand on the rock, and while my glory passes by I will put you in a
        cleft of the rock, and I will cover you with my hand until I have
        passed by. Then I will take away my hand, and you shall see my
        back, but my face shall not be seen” (Exodus 33:21-33).
      </p>
      <p>
        The revelation that follows shows how God’s Name is
        directly related to the relationship He requires with His people.
      </p>
      <p class="scripture">
        The LORD descended in the cloud and stood with him there, and
        proclaimed the name of the LORD. The LORD passed before him and
        proclaimed, “The LORD, the LORD, a God merciful and gracious, slow
        to anger, and abounding in steadfast love and faithfulness, keeping
        steadfast love for thousands, forgiving iniquity and transgression and
        sin, but who will by no means clear the guilty, visiting the iniquity of
        the fathers on the children and the children's children, to the third
        and the fourth generation” (Exodus 34:5-7).
      </p>
      <p>
        God revealed Himself as loving, gracious, and righteous. The
        history of Israel bears witness to the words He spoke to Moses.
        God always acted consistently with who He said He is. He
        pronounced blessings for obedience and punishment for
        disobedience. The cycles of prosperity and downfall of Israel
        kingdoms tell the story.
      </p>
    </div>
  </div>
  <hr class="divider"/>

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h4>(d) The ten plagues that occurred in Egypt were a
        testimony to Israel and Egypt</h4>
      <p>
        The ten plagues united Israel for their exodus from Egypt.
        God miraculously protected Israel during this time. The news
        spread, and the nations around them learned about the God of
        Israel.
      </p>
      <p>
        Through the plagues, God confirmed to Pharaoh that Moses
        requested the release of his people by God's authority.
        Pharaoh was also confronted by the relevance of the plagues
        to their idol worship. The New Bible Dictionary draws attention
        to how the plagues proved the gods of Egypt to be false:
        In Exodus 12:12 God speaks of executing judgements against
        all the gods of Egypt. In some measure he had already done
        so in the plagues, as Egypt’s gods were much bound up with
        the forces of nature. Ha’pi, the Nile-god of inundation, had
        brought not prosperity but ruin; the frogs, symbol of Heqit, a
        goddess of fruitfulness, had brought only disease and wasting;
        the hail, rain and storm were the heralds of awesome events (as in the
        Pyramid Texts); and the light of the sun-god Rē was blotted out, to
        mention but a few of the deities affected.
      </p>
      <p>
        Through the plagues, God showed the world that He had
        power over the natural world - all life on earth.
      </p>
    </div>
    <div class="col-lg-6 col-md-6">
      <h4>(e) God spoke to Israel through the tabernacle</h4>
      <p>
        God instructed Moses to design the temple according to the
        pattern that He showed Moses on the mountain (Exodus 25:40).
        Hebrews 8 refers again to this pattern, saying “They serve a
        copy and shadow of the heavenly things” (v. 5). The following
        text continues to speak about the ministry of Christ:
      </p>
      <p class="scripture">
        For when Moses was about to erect the tent, he was instructed by
        God, saying, “See that you make everything according to the pattern
        that was shown you on the mountain.” But as it is, Christ has
        obtained a ministry that is as much more excellent than the old as
        the covenant he mediates is better, since it is enacted on better
        promises (Hebrews 8:5-6).
      </p>
      <p>
        The tabernacle, together with its artefacts, sacrifices, and
        rituals anticipated the more perfect and final Sacrifice of God's
        own Son (Hebrews 10:4-6). Although Israel did not fully
        comprehend its significance, they understood the redemptive
        nature of the sacrifices.
      </p>
      <p class="scripture">
        And the priest shall make atonement for them, and they shall be
        forgiven. And he shall carry the bull outside the camp and burn it up
        as he burned the first bull; it is the sin offering for the assembly
        (Leviticus 4:20-21).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
    </div>
    <div class="col-lg-6 col-md-6">
    </div>
  </div>
</div>
