<div class="row">
  <h2>Introduction</h2>
</div>
<div class="row">
  <p class="lead">When you accept Jesus Christ and believe in Him, God grants you the right
    to be His child (John 1:12). You are born again and reconciled with God.
    Everything in your life becomes new (2 Corinthians 5:17-20). The Holy
    Spirit dwells in you, renewing your spirit, and enabling you to hear the
    voice of your Shepherd.
  </p>

  <div class="col-lg-6 col-md-6">
    <h3>Unity with the Father</h3>
    <p>Jesus uses the metaphor of the vine and its branches. The branches
      naturally bear fruit because they draw nutrition from the vine. The
      vineyard speaks of dependency and unity. Your spirit is the branch that is
      planted in the vine. Jesus is the Vine, and His Spirit is the Comforter
      who dwells in you. He talks to you and imparts His desires in you.
    </p>
    <p>Jesus Christ, your Saviour and Friend, gives you safety, protection,
      provision, guidance, understanding and trust. This relationship is for
      you! Do you need more reason to submit to the guidance of the Great
      Shepherd?
    </p>
  </div>
  <div class="col-lg-6 col-md-6">
    <h3 style="margin-top: 0">He is so near you</h3>
    <p>Dear reader, are you longing to live closer to God? Paul eagerly wanted
      to "know him and the power of his resurrection" (Philippians 3:10). But he
      was not God's only child. You and I must also pursue this companionship.
      Won't you start listening to God's voice from deep inside you, and become
      aware of the One who abides in you?
    </p>
    <p class="scripture large">For what great nation is there that has a god so
      near to it as the LORD our God is to us, whenever we call upon him?
      (Deuteronomy 4:7)
    </p>
    <p>God is inviting you to get to know Him more intimately. Reach out to your
      Heavenly Father through faith and open your heart to hear from Him. Talk
      to God right where you are. Tell God that you love Him and appreciate Him.
    </p>
  </div>
</div>
<div class="row"><hr class="divider"></div>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <p class="scripture large">
      On the last day of the feast, the great day, Jesus stood up and cried
      out, “If anyone thirsts, let him come to me and drink” (John 7:37).
    </p>
  </div>
  <div class="col-lg-6 col-md-6">
    <p class="scripture large">
      Come, everyone who thirsts, come to the waters (Isaiah 55:1).
    </p>
  </div>
</div>
<div class="row"><hr class="divider"></div>

<div class="row">
  <div class="col-lg-6 col-md-6">
    <p>I endeavour to show you how God has spoken throughout the ages. As you
      continue to read, you will understand why He wants you to hear His voice,
      and you will learn to listen expectantly and overcome any hindrances from
      hearing His voice.
    </p>
  </div>
  <div class="col-lg-6 col-md-6">
    <p>Do you remember the story of Samuel? Eli, the high priest, told Samuel:
      "if he calls you, you shall say, 'Speak, LORD, for your servant hears’".
      Won't you, just like Samuel, answer God today, saying ‘Speak, LORD, your
      servant hears’ (I Samuel 3:9-10).
    </p>
  </div>
</div>
<div class="row">
  <section class="reflection">
    <h3 class="title">Reflection</h3>
    <ol>
      <li>What does the voice of a shepherd mean to the sheep?</li>
      <li>What does it mean to you that Jesus calls His sheep by their names?</li>
      <li>In the parable of the vine and the branches (John 15), what do the
        branches tell us about our part in producing quality fruit?</li>
      <li>Could you undertake, in agreement with your friends, to spend a few
        minutes a day, praying and worshipping God, for a period of one or two
        weeks? Then, discuss with your friends how it impacted your life.
      </li>
    <ol>
  </section>
</div>
