---
layout: page
permalink: "/my-identity"
Title: "Understanding my new identity in Christ"
active-page: My Identity
---

<h1>Understanding my new identity in Christ</h1>

<section class="article">
  <p class="lead">
    Many people today have been broken through devestation experiences. The
    things that people say to you are the worse, especially if they were
    people that were once close to you. Angry people act recklessly. They
    speak to hurt and sometimes don't even mean what they say. But deep scars
    are left that affect you for a lifetime. We are shaped by words, attitudes,
    and behaviour of significant people like parent, family, teachers, or
    employers. Today, if someone would ask you, "who are you really?", you may
    feel unsure or uncomfortable. But there is one significant and reliable
    person whose words and actions could change your life...
  <p>
  <p class="scripture">For I know the plans I have for you, declares the LORD,
    plans for welfare and not for evil, to give you a future and a hope. Then
    you will call upon me and come and pray to me, and I will hear you. You will
    seek me and find me, when you seek me with all your heart. I will be found
    by you, declares the LORD (Jeremiah 29:11-14).</p>
  <p>Discover with me what Christ has said about you and what He thinks about
    you.
  </p>
  <p>
    <a id="top-of-list"></a>
    <div class="list-group">
      <a href="#created-by-God" class="list-group-item list-group-item-action active">
        We are created in the image of God
      </a>
      <a href="#creation-and-fall" class="list-group-item list-group-item-action">
        We are affected by what happened in paradice</a>
      <a href="#measuring-my-worth" class="list-group-item list-group-item-action">
        The measurement of my worth</a>
      <a href="#pursued-by-love" class="list-group-item list-group-item-action disabled">
        God's love pursued me since I was little</a>
      <a href="#clean-conscience" class="list-group-item list-group-item-action disabled">
          How to follow Jesus with a clean conscience</a>
      <a href="#time-for-restoration" class="list-group-item list-group-item-action disabled">
          It's time to be fully restored</a>
    </div>
  </p>

  <p>
    <a id="created-by-God">
      {% include /identity-parts/created-by-god.html %}
    </a>
    <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

    <a id="creation-and-fall">
      {% include /identity-parts/creation-and-fall.html %}
    </a>
    <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

    <a id="measuring-my-worth">
      {% include /identity-parts/measuring-my-worth.html %}
    </a>
    <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

    <a id="pursued-by-love">
      {% include /identity-parts/pursued-by-love.html %}
    </a>
    <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

    <a id="clean-conscience">
      {% include /identity-parts/clean-conscience.html %}
    </a>
    <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

    <a id="time-for-restoration">
      {% include /identity-parts/time-for-restoration.html %}
    </a>
    <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

  </p>

</section>
