<section>
  <h2 class="article-subheading">THE RESURRECTION OF THE DEAD</h2>

  <div class="container">
    <div class="row">
      <div class="col col-lg-7 col-md-12 col-sm-12">
        <p>The resurrection of Jesus from the dead and the subsequent pouring out
          of the Holy Spirit was the birth of the church. However, these events
          also distinguished Christianity from all known religions on earth. It was
          not just another attempt of human kind to reach out to God in order to
          gain some kind of acceptance. No human being was involved in the
          resurrection, rather, it was the loving and gracious initiative of God to
          reach out to all peoples. All people were completely seperated from God
          because of sin and everyone desperately needed God's intervention to give
          hope to a dying world. The resurrection of Jesus was also the foundation of
          a new relationship between God and man. Christianity is not a religion, but
          a relationship that would last until eternity!
        </p>

        <p>Every part of the human life of Jesus was prophesied thousands of years
          before it happened, and the resurrection of Jesus was no acception. The way
          in which it happened was also extra-ordinary. The book of Matthew relates
          how an angel rolled away the stone at the entrance of the grave:
        </p>

        <p class="scripture">And behold, there was a great earthquake, for an angel of
          the Lord descended from heaven and came and rolled back the stone and sat on
          it. His appearance was like lightning, and his clothing white as snow. And
          for fear of him the guards trembled and became like dead men. But the angel
          said to the women, “Do not be afraid, for I know that you seek Jesus who was
          crucified. He is not here, for he has risen, as he said (Matthew 28:2-6a).
        </p>

        <p>In 1 Corinthians 15, the apostle Paul reflects on the mission of Jesus
          Christ, that he died for our sins but rose again on the third day. He then
          appeard to his disciples and also to many others, including <i>"more than
          five hundred brothers at one time"</i>. The resurrection of Christ is also
          our hope and first evidence of eternal life with Him.
        </p>
      </div>
      <div class="col col-lg-5">
        <p class="scripture">But in fact Christ has been raised from the dead, the
          <b>firstfruits of those who have fallen asleep</b>. For as by a man came
          death, by a man has come also the resurrection of the dead. For as in Adam
          all die, so also in Christ shall all be made alive. But each in his own
          order: Christ the <b>firstfruits</b>, then at his coming those who belong to
          Christ (1 Corinthians 15:20-23).
        </p>

        <p>The resurrection of the believers is followed by the glorious announcement
          of a new kingdom: <i>"Then comes the end, when he delivers the kingdom to
          God the Father after destroying every rule and every authority and power.
          For he must reign until he has put all his enemies under his feet. The last
          enemy to be destroyed is death"(</i>) (1 Cor 15:24-26).
        </p>

        <p>In his letter to the Philippians, the apostle Paul says that he found <i>
          "the righteousness from God that depends on faith"</i>. The resurrection
          power of God also has a significance for our spiritual life and indicates
          the victory that Christ secured for us.
        </p>

        <p class="scripture">that I may know him and the power of his resurrection,
          and may share his sufferings, becoming like him in his death, that by any
          means possible I may attain the resurrection from the dead"
          (Philippians 3:10-11)
        </p>

      </div>
    </div>
  </div>

</section>
