<p>
  A transformation takes place when you prayerfully meditate on God’s righteous
  decrees. The Holy Spirit changes you from within, enabling you to live a
  victorious Christian life. It pleases the Father to restore His image in you
  and shine His light through you.
</p>
<p class="scripture">
  God intends to build up the body of Christ "until we all attain to the unity
  of the faith and of the knowledge of the Son of God, to mature manhood, to the
  measure of the stature of the fullness of Christ" (Eph 4:13).
</p>
<p>
  We all therefore need a solid foundation as the basis of our growth. See how
  the book of Hebrews describes this foundation:
</p>
<p class="scripture">
  Now is the time for us to progress beyond the basic message of Christ and
  advance into perfection. The foundation has already been laid for us to
  build upon: turning away from our dead works to embrace <b>faith in God</b>,
  teaching about different <b>baptisms</b>, impartation by the <b>laying on of
  hands</b>, <b>resurrection of the dead</b>, and <b>eternal judgment</b>.
  So with God’s enablement we will move on to deeper truths. (Hebrews 6:1-3, TPT).
</p>
