<section>
  <h2 class="article-subheading">THE LAYING ON OF HANDS</h2>

  <div class="container">
    <div class="row">
      <div class="col col-lg-6 col-md-12 col-sm-12">
        <p>Jesus laid his hands on sick people and by the authority of His Word they
          were healed. Through this ministry, Jesus demonstrated his love and
          compassion to the world. People learned that God really cared.
        </p>

        <img src="/assets/img/praying-for-another.jpg" class="object" alt="Responsive image" width="100%">
        <p style="text-align:center">Image by <a href="https://pixabay.com/users/95c-484762/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=654950">95C</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2906458">Pixabay</a></p>

        <p class="scripture">Now when the sun was setting, all those who had any who
          were sick with various diseases brought them to him, and he laid his hands
          on every one of them and healed them (Luke 4:40).
        </p>
        <p class="scripture">Then came one of the rulers of the synagogue, Jairus by
          name, and seeing him, he fell at his feet and implored him earnestly, saying,
          “My little daughter is at the point of death. Come and lay your hands on her,
          so that she may be made well and live. And he went with him” (Mark 5:22-24a).
        </p>
        <p class="scripture">When Jesus saw her, he called her over and said to her,
          “Woman, you are freed from your disability.” And he laid his hands on her,
          and immediately she was made straight, and she glorified God (Luke 13:12,13).
        </p>
      </div>
      <div class="col col-lg-6">
        <p>The caring ministry of Jesus was continued by his disciples. The Holy
          Spirit living in the disciples enabled them to show everyone that God was
          alive and still desired to transform human lives. The disciples laid their
          hands on people so that they would receive the Holy Spirit. In the church,
          today, the laying on of hands imparts a gift of God. This gift imparts
          healing, the infilling of the Holy Spirit, or to commission people for
          service or ministry.
        </p>

        <p class="scripture">While they were worshiping the Lord and fasting, the Holy
        Spirit said, “Set apart for me Barnabas and Saul for the work to which I have
        called them.” Then after fasting and praying they laid their hands on them and
        sent them off (Acts 13:2,3).</p>

        <p class="scripture">Do not neglect the gift you have, which was given you by
          prophecy when the council of elders laid their hands on you (1 Timothy 4:14).
        </p>

        <p class="scripture">As I remember your tears, I long to see you, that I may be
          filled with joy. I am reminded of your sincere faith, a faith that dwelt
          first in your grandmother Lois and your mother Eunice and now, I am sure,
          dwells in you as well. For this reason I remind you to fan into flame the
          gift of God, <b>which is in you through the laying on of my hands</b>
          (2 Timothy 1:4-6)
        </p>
      </div>
    </div>
  </div>

</section>
