<section>
  <h2 class="article-subheading">FAITH IN GOD</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>An indisputable part of our Christian foundation is FAITH IN GOD.</p>

        <p class="scripture">Abraham believed God, and it was counted to him as
          righteousness (James 2:23).</p>

        <p>Faith implies a measure of personal trust in something beyond our
          natural reasoning and abilities. From childhood, we became independent
          and took responsibility for our safety, provision and well-being. We
          learned to rely on our own judgement. Our first leap of faith was to
          trust God for our salvation. The confidence we had in financial
          security, career planning, property investments and other long-term
          safeguards suddenly diminished in value. When we compared these
          securities to an eternity with God, no longer could anything compare
          with God. Indeed Jesus Christ became the most beautiful and precious
          Pearl..</p>

        <p class="scripture">Trust in the LORD with all your heart, and do not lean on
          your own understanding (Proverbs 3:5). </p>

        <p>Faith is directly related to the proclamation of the word of Christ.
          Many Christians testified that their lives were deeply affected when
          they believed in God. When I encountered Christ as a young man at
          university, I experienced an instant transformation. I responded to
          the inner conviction of the Holy Spirit by praying the most important
          prayer I ever prayed, inviting Jesus into my life. After I prayed, I
          truly believed. I knew that I had changed and that my life would never
          be the same again.
        </p>
      </div>
      <div class="col-lg-6">
        <p class="scripture">For “everyone who calls on the name of the Lord will be
        saved.” How then will they call on him in whom they have not believed? And how
        are they to believe in him of whom they have never heard? And how are they to
        hear without someone preaching? And how are they to preach unless they are
        sent? As it is written, “How beautiful are the feet of those who preach the
        good news!” But they have not all obeyed the gospel. For Isaiah says, “Lord,
        who has believed what he has heard from us?” So faith comes from hearing, and
        hearing through the word of Christ (Romans 10:13-17).</p>

        <p>We exercise faith to trust God for our salvation. Then, throughout our
        lives, faith is an essential part of our living and breathing as God's
        children. Whenever we pray, we trust God that He will reward those who
        earnestly seek him.
        </p>

        <p class="scripture">And without faith it is impossible to please him, for
        whoever would draw near to God must believe that he exists and that he rewards
        those who seek him (Hebrews 11:6) </p>
      </div>
    </div>
  </div>

  <p class="discussion-heading">Recommended for discussion:
    <ul class="discussion-points">
      <li>Share with each other how your faith has been tested, and the
        evidence that you are muturing in faith.</li>
      <li>To what extent has faith matured in your life?</li>
      <li>How would you explain the concept of faith to an unbeliever?</li>
    </ul>
  </p>
</section>
