<section>
  <h2 class="article-subheading">HOW TO FOLLOW JESUS WITH A CLEAN CONSCIENCE</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>Living with a clean conscience is a bridge that every Christian must
          cross at some stage in their life. God gave us a conscience to make us
          aware of the voice of the Holy Spirit. If we are not able to hear
          God's voice, we can't follow His directions. We must therefore learn
          about our spirit nature.
        </p>
        <p>
          When God takes possession of my heart, the Holy Spirit also convicts
          me of sin. He fills me with remorse for all rebellion in my life.
          He also gives me a genuine desire to repent of everything that
          offends the Holy Spirit. He wants to dwell in me, but He wants to live
          in a clean temple. Who can imagine that Almighty God wants to live in
          the heart of a human being? Recall the conversation between Jesus and
          Nicodemus:
        </p>
        <p class="scripture">"Truly, truly, I say to you, unless one is born
          again he cannot see the kingdom of God." Nicodemus said to him, "How
          can a man be born when he is old? Can he enter a second time into his
          mother's womb and be born?" Jesus answered, "Truly, truly, I say to
          you, unless one is born of water and the Spirit, he cannot enter the
          kingdom of God. That which is born of the flesh is flesh, and that
          which is born of the Spirit is spirit." (John 3:3-6)
        </p>
        <p>When Christ enters my heart, the Holy Spirit confronts me of any
          iniquity in my life. Some of us struggle to live in obedience and
          often do not find the courage to do what we should be doing.
        </p>
        <p> If you identify with this battle, I want to encourage you that God
          has something greater in store for you! Consider the striking
          metaphor of the victorious life in Hebrews 4. It speaks of entering
          the Sabbath rest just as Joshua gave his people rest after entering
          the promised land.
        </p>
        <p class="scripture">So then, there remains a Sabbath rest for the
          people of God, for whoever has entered God's rest has also rested from
          his works as God did from his. (Hebrews 4:9-10)
        </p>
      </div>
      <div class="col-lg-6 col-md-0 col-sm-0">
        <p>Do you know that your conscience is your friend? It makes you feel
          uneasy when you suppress the voice of the Holy Spirit. This is how the
          Holy Spirit uses your conscience to get your attention. To end this
          battle, you must repent! You must come to the place where you hate
          every evidence of sin in your life. You need to hate the distractions
          in your life that feed your sin nature. Christ wants to be on the
          throne of your life. You must die to sin to live! Paul understood this
          battle, and he tells us how he found victory.
        </p>
        <p class="scripture">I have been crucified with Christ. It is no longer
          I who live, but Christ who lives in me. And the life I now live in the
          flesh I live by faith in the Son of God, who loved me and gave himself
          for me. (Galatians 2:20)
        </p>
        <p>Paul had to die so that Christ could live in Him! I urge you, dear
          brother and sister in Christ, to discover the secret of life in
          Romans 8:1-17. Would you please read it like a prospector carefully
          looks for a diamond? Paul teaches here about living without
          condemnation, walking according to the Spirit, experiencing life and
          peace, pleasing God, being led by the Spirit, and becoming heirs of
          God and fellow heirs with Christ.
        </p>
        <p>Jesus is calling us to a place of total surrender. He wants to dwell
          in us as our Comforter. He wants to walk with me and talk with me.
          There is no other way to victory. We were born to have continual
          fellowship with the living God. We were meant to be sons and daughters
          of God!
        </p>
        <p>The conviction of the Holy Spirit calls us to repentance and life,
          but the condemnation of the adversary leads to bondage and death.
        </p>
        <p class="scripture">"Humble yourselves, therefore, under the mighty
          hand of God so that at the proper time he may exalt you, casting all
          your anxieties on him, because he cares for you." (I Peter 5:6)
        </p>
      </div>
    </div>
  </div>
</section>
