<section>
  <h2 class="article-subheading">WE ARE AFFECTED BY WHAT HAPPENED IN PARADICE</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>Paradice was both a catastrophe and a demonstration of Yahweh's
          goodness. It is possible that the creation narrative was contemplated
          by God for a long time. God knew that giving humankind a free choice
          involved the test of His eternal love and goodness.
        </p>
        <p class="scripture">And the LORD God commanded the man, saying, "You
          may surely eat of every tree of the garden, but of the tree of the
          knowledge of good and evil you shall not eat, for in the day that you
          eat of it you shall surely die." (Genesis 2:16-17)
        </p>
        <p>Human reasoning could suggest that God had to choose between
          righteousness and love. However, God's goodness upheld both His
          righteousness and his love. His righteousness demanded that Adam's sin
          resulted in death. But the love of God moved him in an amazing
          demonstration of grace.
        </p>
        <p>Adam was hopeless. His disobedient was disastrous because God had
          spelt out the consequences clearly. Nevertheless, God demonstrated His
          love for Adam, and the whole of humankind, in an unimaginable way.
          Christ decided to die in our place. The unthinkable act of love was
          first prophesied by the prophet Isiah.
        <p>
      </div>
      <div class="col-lg-6 col-md-0 col-sm-0">
        <p class="scripture">But he was pierced for our transgressions; he was
          crushed for our iniquities; upon him was the chastisement that brought
          us peace, and with his wounds we are healed. All we like sheep have
          gone astray; we have turned – every one – to his own way; and the LORD
          has laid on him the iniquity of us all. (Isaiah 53:5,6)
        </p>
        <p class="scripture">
          Yet it was the will of the LORD to crush him; he has put him to grief;
          when his soul makes an offering for guilt, he shall see his offspring;
          he shall prolong his days; the will of the LORD shall prosper in his
          hand. (Isaiah 53:10)
        </p>
        <p>Then, after the death and resurrection of Christ, the apostle Paul
          reflected on what Christ had accomplished to restore humankind to
          himself..
        </p>
        <p class="scripture">...so that Christ may dwell in your hearts through
          faith — that you, being rooted and grounded in love, may have strength
          to comprehend with all the saints what is the breadth and length and
          height and depth, and to know the love of Christ that surpasses
          knowledge, that you may be filled with all the fullness of God.
          (Ephesians 3:17-19)
        </p>
      </div>
    </div>
  </div>
</section>
