<section>
  <h2 class="article-subheading">WE ARE AFFECTED BY WHAT HAPPENED IN PARADICE</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>Paradice was both a catastrophe and a demonstration of Yahweh's
          goodness. It is possible that the creation narrative was contemplated
          by God for a long time. God knew that giving humankind a free choice
          involved the test of His eternal love and goodness.
        </p>
        <p class="scripture">And the LORD God commanded the man, saying, "You
          may surely eat of every tree of the garden, but of the tree of the
          knowledge of good and evil you shall not eat, for in the day that you
          eat of it you shall surely die." (Genesis 2:16-17)
        </p>
        <p>Human reasoning could suggest that God had to choose between
          righteousness and love. However, God's goodness upheld His righteous
          and his love. His righteousness demanded that Adam's sin result in
          death. But the love of God moved him in an amasing demonstration of
          grace.
          Adam was hopeless, but God demonstrated His love for him (and
          humankind) in an unimaginable way. Christ decided to die in our place.
        </p>
      </div>
      <div class="col-lg-6 col-md-0 col-sm-0">
        <p class="scripture">...so that Christ may dwell in your hearts through
          faith — that you, being rooted and grounded in love, may have strength
          to comprehend with all the saints what is the breadth and length and
          height and depth, and to know the love of Christ that surpasses
          knowledge, that you may be filled with all the fullness of God.
          (Ephesians 3:17-19)
        </p>
      </div>
    </div>
  </div>
</section>
