<section>
  <h2 class="article-subheading">CREATED IN THE IMAGE OF GOD</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>The story of your life started even before you were born. When your
          mother conceived you, you were already in God's mind. Take note of
          these words of David, the Psalmist: "For you formed my inward parts;
          you knitted me together in my mother's womb" (Psalm 139:13). You were
          planned by God and designed by God. He created you in His image
          (Genesis 1:27) to live in fellowship with Him (Philippians 3:8).
        </p>
        <p>Being created by God means that you are significant. You have a
          purpose. You have a destiny, and you belong to your Heavenly Father.
          He will not reject you. "And the LORD, He is the One who goes before
          you. He will be with you; He will not leave you nor forsake you; do
          not fear nor be dismayed” (Deuteronomy 31:8). If you received Jesus
          Christ, you are a child of God.
        </p>
        <p class="scripture">But to all who did receive him, who believed in his
          name, he gave the right to become children of God, who were born, not
          of blood nor of the will of the flesh nor of the will of man, but of
          God (John 1:12).
        </p>
      </div>
      <div class="col-lg-6 col-md-0 col-sm-0">
        <p>When I become a child of God, my Heavenly Father is my new reference
          point. Everything He says about me tells me who I am. Even if
          everyone else rejects me, it does not matter any more. I have an
          inheritance that is mine forever.
        <p>
        <p class="scripture">But when the fullness of time had come, God sent
          forth his Son, born of woman, born under the law, to redeem those who
          were under the law, so that we might receive adoption as sons. And
          because you are sons, God has sent the Spirit of his Son into our
          hearts, crying, “Abba! Father!” So you are no longer a slave, but a
          son, and if a son, then an heir through God. (Galations 4:4-7)
        </p>
        <p>I invite you to respond to this realisation by thanking God for what
          He has done for you. On the cross Jesus removed the barrier that
          prevented spontaneous communication and direct access to God. See the
          invitation directly from God's Word:
        </p>
        <p class="scripture">Let us then with confidence draw near to the throne
          of grace, that we may receive mercy and find grace to help in time of
          need. (Hebrews 4:16)</p>
      </div>
    </div>
  </div>
</section>
