<section>
  <h2 class="article-subheading">THE MEASUREMENT OF MY WORTH</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>You may sincerely ask the question, how does my worth compare against
          the worth of other people? There is actually a problem with this
          question, because God's love for us of us did not discriminate against
          our successes or failures.
        </p>
        <p>When Jesus died on the cross, fulfilling the prophecies of God’s
          redeeming grace, he demonstrated your value. Your debt was cleared.
          Completely! The ransom price to rescue you from eternal death was the
          life of God’s Son, Jesus Christ. God cancelled your record of debt and
          nailed it to the cross - becaused you mattered to Him.
        </p>
        <p class="scripture">Because you are precious in my eyes, and honored,
          and I love you (Isaiah 43:4)
        </p>
        <p>Centuries before the Messiah came, God prepared the hearts of Israel,
          His chosen nation. He helped them to understand that they were
          unabled to keep their part of the covenant. They needed a new heart.
          And this is what happened when the church was born on the Day of
          Pentecost. What was impossible with man became possible with God.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p class="scripture">
          You formed my innermost being, shaping my delicate inside
          and my intricate outside,
          and wove them all together in my mother’s womb.
          I thank you, God, for making me so mysteriously complex!
          Everything you do is marvelously breathtaking.
          It simply amazes me to think about it!
          How thoroughly you know me, Lord!
          You even formed every bone in my body
          when you created me in the secret place;
          carefully, skillfully you shaped me from nothing to something.
          You saw who you created me to be before I became me!
          Before I’d ever seen the light of day, the number of days you planned for me
          were already recorded in your book.
          Every single moment you are thinking of me!
          How precious and wonderful to consider
          that you cherish me constantly in your every thought!
          O God, your desires toward me are more
          than the grains of sand on every shore!
          When I awake each morning, you’re still with me. (Psalm 139:13-18, TPT)
        </p>
    </div>
  </div>
</section>
