<section>
  <h2 class="article-subheading">GOD'S LOVE PURSUED ME SINCE I WAS LITTLE</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>
          It is awesome to know that I was in God’s mind even before I was born!
          Unfortunately, we did not always acknowledge His love and goodness.
          The sinful world influenced our thinking and our actions. Before we
          accepted Jesus into our hearts, we were controlled by our sinful
          nature. We disregarded the uncomfortable warnings of our conscience.
          We were spiritually dead – separated from God and enslaved to sin.
          Nevertheless, God’s never-failing love pursued us through these years.
          Although our sins grieved the Holy Spirit, He drew us to Himself. Like
          the Good Shepherd, Jesus called us by our names. He called us
          "out of darkness into His marvellous light" (1 Peter 2:9).
        </p>
        <p>Pray with me and thank God for His goodness to us. Talk to Him now
          and honour Him. Sing praises to Him and worship Him!
      </div>
      <div class="col-lg-6 col-md-0 col-sm-0">
        <p>
          Dear Lord Jesus,</br>
          My heart longs for You, to be united to the One who pursued me
          while I was far from you. Oh God, Lover of my soul, I thank you that
          You came into my life. Today, I want to respond to your message of
          love. I want to love you and live for you. I want to love my brothers
          and sisters because you poured out your love in my heart. Lord Jesus,
          cause my heart to desire you with everything that is in me. Today,
          I again surrender to you my heart, my mind my body and my soul.
        </p>
        <p class="scripture">I will bless the LORD at all times; his praise
          shall continually be in my mouth. My soul makes its boast in the LORD;
          let the humble hear and be glad. Oh, magnify the LORD with me, and let
          us exalt his name together! (Psalm 34:1-3)
        </p>
      </div>
    </div>
  </div>
</section>
