<section>
  <h2 class="article-subheading">IT'S TIME TO BE FULLY RESTORED</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>If people have offended you and harmed you, forgive them from your
          heart, just as God has forgiven you. Matthew 18:21-35 explains the
          importance of forgiveness. Won't you read this Scripture now? God's
          forgiveness toward us helps us to do the same to others. Do not wait
          any longer but draw near to God in childlike faith because He is
          faithful to all His promises (Hebrews 10:19-23).
        </p>
        <p class="scripture">Strive for peace with everyone, and for the
          holiness without which no one will see the Lord. See to it that no one
          fails to obtain the grace of God; that no “root of bitterness” springs
          up and causes trouble, and by it many become defiled (Hebrews 12:14-15).
        </p>
        <p class="scripture">...as the truth is in Jesus, to put off your old
          self, which belongs to your former manner of life and is corrupt
          through deceitful desires, and to be renewed in the spirit of your
          minds, and to put on the new self, created after the likeness of God
          in true righteousness and holiness. (Ephesians 4:21-24)
        </p>
      </div>
      <div class="col-lg-6 col-md-0 col-sm-0">
        <p>Can you picture your Heavenly Father, stretching out His hands
          towards you and inviting you to receive forgiveness and healing? He
          wants to restore His image in you. Do not let hurts of the past hold
          you back. Come to Jesus today and allow Him to take possession of your
          heart. Through the gracious work of Jesus Christ, you can become a new
          creation in Jesus Christ! There is no other way to be renewed and
          restored.
        </p>
        <p>Understanding who you are is the starting point for spiritual
          growth. May Jesus Christ, our Lord and Saviour, help you to find this
          treasure!
        </p>
        <p>The Word of God usually requires you and me to respond. Let us not
          delay but be reconciled to everyone.
        </p>
        <p class="scripture">and forgive us our debts, as we also have forgiven
          our debtors. (Matthew 6:12)
        </p>
      </div>
    </div>
  </div>
</section>
