<h3>1. The baptism of John the Baptist</h3>

<img src="/assets/img/water-baptism.jpg" class="object" alt="Responsive image" width="40%">
<p style="text-align:center">Image by <a href="https://pixabay.com/users/ahstubbs-5985585/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2535931">Ahstubbs</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2535931">Pixabay</a></p>

<p>The book of Matthew describes the unique ministry of John the Baptist, the
one, anointed by God to prepare the way of the Messiah.</p>

<p class="scripture">In those days John the Baptist came preaching in the
wilderness of Judea, “Repent, for the kingdom of heaven is at hand.” For this is
he who was spoken of by the prophet Isaiah when he said, “The voice of one
crying in the wilderness: ‘Prepare the way of the Lord; make his paths
straight.’” <br><br>
Now John wore a garment of camel's hair and a leather belt around his waist, and
is food was locusts and wild honey. Then Jerusalem and all Judea and all the
region about the Jordan were going out to him, and <b>they were baptized by him
in the river Jordan, confessing their sins</b> (Matthew 3:1-6, ESV)</p>

<p>The baptism of John was a prophetic event, proclaiming the arrival of
   someone much greater than he. He warned the people of Israel to repent of
   their sins and turn away from evil so that their sins may be forgiven. When
   some thought that John could be the Christ, he answered them:

<p class="scripture">I baptize you with water, but he who is mightier than I
   is coming, the strap of whose sandals I am not worthy to untie. <b>He will
   baptize you with the Holy Spirit and fire</b> (Luke 3:16, ESV).</p>

<p>His ministry reached its climax when Jesus came and requested that He also
   be baptised. </p>

<p class="scripture">Now when all the people were baptized, and when Jesus
   also had been baptized and was praying, the heavens were opened, and the
   Holy Spirit descended on him in bodily form, like a dove; and a voice came
   from heaven, “You are my beloved Son; with you I am well pleased
   (Luke 3:21-22, ESV).</p>

<p class="discussion-heading">Recommended for discussion:
  <ul class="discussion-points">
    <li>In what way was the birth of John the Baptist miraculous?</li>
    <li>What was the significance of the ministry of John the Baptist?</li>
  </ul>
</p>
