<h3>3. Baptism of the Holy Spirit</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12">
      <p>Recall what John the Baptist told the people about the One who would come
      after him: <b>He will baptize you with the Holy Spirit and fire</b>. John the
      Baptist baptised with <b>water</b> but Jesus baptised with <b>the Holy Spirit
      and fire</b>. Keep in mind that the disciples of Jesus had already been born
      again. We read in John 20:22 how Jesus breathed on them, saying "Receive the
      Holy Spirit". Pentecost happened afterwards. Luke wrote about Pentecost as the
      <b>promise of the Father</b>:
      </p>

      <img src="/assets/img/dove.jpg" class="object" alt="Responsive image" width="100%">
      <p style="text-align:center">Image by <a href="https://pixabay.com/users/6248913-6248913/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680487">michel kwan</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680487">Pixabay</a>
      </p>

      <p class="scripture">And while staying with them he ordered them not to depart
      from Jerusalem, but to wait for the promise of the Father, which, he said, “you
      heard from me; for John baptized with water, but you will be baptized with the
      Holy Spirit not many days from now” (Acts 1:4,5).</p>

      <p>In the description of what happened on the day of Pentecost, we read again
      about the fire that was prophesied. This kind of baptism was initiated by the
      Holy Spirit and it's purpose was to enable the disciples to boldly proclaim
      the good news about Jesus Christ. Up to this stage, the Jews were not concerned
      about the salvation of the nations but this was about to change. God elected
      Israel for a purpose, much greater than the preservation of their own identity.
      Christ, the Messiah, came to save the whole world from their sins.
      </p>
    </div>
    <div class="col-lg-5">
      <p class="scripture">When the day of Pentecost arrived, they were all together
      in one place. And suddenly there came from heaven a sound like a mighty rushing
      wind, and it filled the entire house where they were sitting. And divided
      tongues as of fire appeared to them and rested on each one of them. And they
      were all filled with the Holy Spirit and began to speak in other tongues as the
      Spirit gave them utterance. (Acts 2:1-4) </p>

      <p>After the day of Pentecost, the disciples continued to teach the Jews that
        the same Jesus they had crucified came to fulfil the prophecies in the
        Scripture about the promised Messiah. In Acts 4 we continue to read how Peter
        and John boldly proclaimed the message of the resurrection of the dead. They
        were then filled by the Holy Spirit.
      </p>

      <p class="scripture">And when they had prayed, the place in which they were
      gathered together was shaken, and they were all filled with the Holy Spirit and
      continued to speak the word of God with boldness (Acts 4:31). </p>

      <p>When Paul arrived at Ephesus, he came across disciples who were baptised by
        John the Baptist. These disciples were not yet taught about the Holy Spirit.
        Paul then explained to them that the baptism of John actually pointed to Jesus
        who baptised with the Holy Spirit. They gladly received Paul's message!
      </p>

      <p class="scripture">On hearing this, they were baptized in the name of the Lord
        Jesus. And when Paul had laid his hands on them, the Holy Spirit came on them,
        and they began speaking in tongues and prophesying (Acts 19:5-6).
      </p>

    </div>
  </div>
</div>

<p class="discussion-heading">Recommended for discussion:
  <ul class="discussion-points">
    <li>What was significant about the symbol of fire?</li>
    <li>How does the Holy Spirit continue to transform the lives of people
      today?</li>
  </ul>
</p>
