<h3>2. Water baptism - the sign of accepting the message of Jesus Christ</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <p>The apostle Peter concluded his sermon on the day of Pentecost with these
        words:</p>

      <p class="scripture">"...Let all the house of Israel therefore know for certain
        that God has made him both Lord and Christ, this Jesus whom you crucified.”
        Now when they heard this they were cut to the heart, and said to Peter and
        the rest of the apostles, “Brothers, what shall we do?” And Peter said to
        them, “Repent and be baptized every one of you in the name of Jesus Christ
        for the forgiveness of your sins, and you will receive the gift of the Holy
        Spirit. For the promise is for you and for your children and for all who are
        far off, everyone whom the Lord our God calls to himself.” And with many
        other words he bore witness and continued to exhort them, saying, “Save
        yourselves from this crooked generation.” So <b>those who received his word
        were baptized</b>, and there were added that day about three thousand souls.
        (Acts 2:36-41) </p>
    </div>
    <div class="col-lg-6">
      <p>It was the departing instruction of Jesus Christ to His eleven disciples to
        go and make disciples of all nations. The baptism of believers had to be
        accompanied by the teaching of the message of Jesus Christ. Those who accept
        His message had to be baptised and live in obedience.</p>

      <p class="scripture">And Jesus came and said to them, “All authority in heaven
        and on earth has been given to me. Go therefore and make disciples of all
        nations, baptizing them in the name of the Father and of the Son and of the
        Holy Spirit, teaching them to observe all that I have commanded you. And
        behold, I am with you always, to the end of the age” (Matthew 28:18-20).</p>

      <p>Baptism, for believers, is also a symbol of identifying with the death and
        resurrection of Jesus Christ.</p>

      <p class="scripture">Do you not know that all of us who have been baptized into
        Christ Jesus were baptized into his death? We were buried therefore with him
        by baptism into death, in order that, just as Christ was raised from the dead
        by the glory of the Father, we too might walk in newness of life
        (Romans 6:3-4) </p>
    </div>
  </div>
</div>

<p class="discussion-heading">Recommended for discussion:
  <ul class="discussion-points">
    <li>What was prerequisite for the baptism of the early believers?</li>
    <li>What was the significance of the water baptism of the early believers?
    </li>
  </ul>
</p>
