---
layout: page
permalink: "/fundamentals"
Title: "Fundamental Teachings"
active-page: Fundamentals
---

<h1>Fundamental Doctrines of the Bible</h1>

<section class="article">
  <p class="lead">
    Spiritual growth starts when the Holy Spirit enters a believer’s heart. The
    Holy Spirit, who is your Comforter and Helper, lives in you. He teaches you
    the ways of God and reminds you of everything that Jesus taught. We need a
    firm foundation to stand against the deception of false doctrines. To be
    effective disciples, we also need to be confident in what we believe. The
    fundamental doctrines will help us to be mature followers of Jesus Christ.
  </p>

  <p>All Scripture references in this article use the English Standard Version
    unless otherwise stated.
  </p>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <img src="/assets/img/trees06s.jpg" class="growth" alt="Responsive image"
          width="100%">
      </div>
      <div class="col-lg-7">
        {% include /fundamental_parts/fundamentals_intro.html %}
      </div>
    </div>
  </div>
  <p> The purpose of this article is to explain the doctrines listed above.
    Having laid this foundation in our lives, we must grow toward spiritual
    maturity. I would strongly encourage all readers to study this material as a
    group. There is immeasurable value in the interactive participation of
    believers, sharing and learning from each other.
  </p>

  <a id="top-of-list"></a>

  <div class="list-group">
  <a href="#faith-in-God" class="list-group-item list-group-item-action active">
    Faith in God
  </a>
  <a href="#baptisms" class="list-group-item list-group-item-action">Baptisms</a>
  <a href="#laying-on-of-hands" class="list-group-item list-group-item-action">Laying on of hands</a>
  <a href="#resurrection" class="list-group-item list-group-item-action">Resurrection of the dead</a>
  <a href="#eternal-judgement" class="list-group-item list-group-item-action disabled">Eternal judgement</a>
</div>

  <a id="faith-in-God">
    {% include /fundamental_parts/fundamental-faith-in-God.html %}
  </a>
  <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
    aria-pressed="true">Return to the top</a>

  <a id="baptisms">
    {% include /fundamental_parts/fundamental-baptisms.html %}
  </a>
  <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
    aria-pressed="true">Return to the top</a>

  <a id="laying-on-of-hands">
    {% include /fundamental_parts/fundamental-laying-on-of-hands.html %}
  </a>
  <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
    aria-pressed="true">Return to the top</a>

  <a id="resurrection">
    {% include /fundamental_parts/fundamental-resurrection.html %}
  </a>
  <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
    aria-pressed="true">Return to the top</a>

  <a id="eternal-judgement">
      {% include /fundamental_parts/fundamental-eternal-judgement.html %}
    </a>
  <a style="background-color:#6495ED" href="#top-of-list" class="btn btn-primary active" role="button"
      aria-pressed="true">Return to the top</a>

</section>
