---
layout: page
permalink: "/fundamentals"
Title: "Fundamental Teachings"
active-page: Fundamentals
---

<h1>Fundamental Doctrine of the Bible</h1>

<section class="article">
  <p class="lead">
    Spiritual growth starts when the Holy Spirit enters a believer’s heart. The
    Holy Spirit, who is your Comforter and Helper, lives in you. He teaches you the
    ways of God and reminds you of everything that Jesus taught. He imprints in your
    heart, the character of God – Merciful, Gracious, Compassionate, Slow to anger,
    Abounding in steadfast love, forgiving iniquity, transgression, and sin.
  </p>

  <img src="/assets/img/trees06s.jpg" class="growth" alt="Responsive image" width="40%">

  {% include /fundamental_parts/fundamentals_intro.html %}

  {% include /fundamental_parts/fundamental-faith-in-God.html %}

  {% include /fundamental_parts/fundamental-baptisms.html %}

  {% include /fundamental_parts/fundamental-laying-on-of-hands.html %}

  {% include /fundamental_parts/fundamental-resurrection.html %}

  <p>
    The resurrection of the dead was essentially the theme of the preaching of
    the apostles.
  </p>

</section>
